#toolbar{
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 1000;
}

#board{
    position:absolute;
    top:0;
    left: 0;
    width: 3000px;
    height: 1500px;
}

.postit{
    position: absolute;
    background-color: #FFFF33;
    padding: 2px 2px 25px 2px;
}

.postit_close_image{
    position: relative;
    float:right;
    top:0px;
    right:0px;
}

.postit_input {
    -moz-box-sizing:border-box;
    border:none;
    resize: none;
    display:block;
    background-color: #FFFF99;
    position: relative;
    padding:0px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.postit_tool_enabled{
    background-image: url('/media/postit_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.postit_tool_disabled{
    background-image: url('/media/postit_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_tool_enabled{
    background-image: url('/media/pencil_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_tool_disabled{
    background-image: url('/media/pencil_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.eraser_tool_disabled{
    background-image: url('/media/eraser_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.eraser_tool_enabled{
    background-image: url('/media/eraser_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

#mapale_logo{
    position: fixed;
    bottom:0;
    right:0;
}