<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>The Board</title>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/processing-1.3.6.js"></script>
    <script type="text/javascript" src="/media/js/json2.js"></script>
    <script type="text/javascript" src="/media/js/boardconnection.js"></script>
    <script type="application/javascript">
        var processingInstance;
        var boardConnection;

        function loadProcessingInstance(){
            var tId=0;
            tId=setInterval(function() {
                processingInstance = Processing.getInstanceById("board");
                if (processingInstance) clearInterval(tId);
            },1);
        }

        function loadBoard(){
            {% for post_it in postits %}
                processingInstance.addPostIt({{post_it.id}},"{{post_it.text}}",{{ post_it.x }},{{ post_it.y }});
            {% endfor %}
            processingInstance.bindJavaScript(this);
        }

        function onPostitMoved(postitId, x, y){
            boardConnection.movePostIt(postitId, x, y);
        }

        function onNewPostit(x, y, feed){
            $.post('/{{ board_id }}/postit/new/', { text: feed, x:x, y:y }, function(json){
                boardConnection.newPostit({{ board_id }} , json["postit_id"], json["x"],json["y"],json["text"]);
            });
        }

        function onPostitSelected(postitId){
            boardConnection.selectPostit(postitId);
        }

        function loadBoardConnection(){
            var host = "localhost";
            var port = "8888";
            var uri = "/ws";
            var ws = new WebSocket("ws://" + host + ":" + port + uri);

            boardConnection = new BoardConnection(ws);

            ws.onmessage = function(evt) {
                var message = $.parseJSON(evt.data);
                var message_type = message["type"];
                switch(message_type){
                    case "new":
                        processingInstance.addPostIt(message["args"]["postit_id"], message["args"]["text"], message["args"]["x"], message["args"]["y"]);
                        break;
                    case "move":
                        processingInstance.movePostIt(message["args"]["postit_id"], message["args"]["x"], message["args"]["y"]);
                        break;
                    case "select":
                        processingInstance.friendSelectPostit(message["args"]["id"]);
                        break;
                    default:
                        return false;
                }
            };

            ws.onclose = function(evt) {};

            ws.onopen = function(evt) {
                boardConnection.subscribe({{ board_id }});
            };
        }

        $(document).ready(function() {
            loadProcessingInstance();
            loadBoardConnection();
        });

    </script>
</head>
<body>
    <canvas id="board" data-processing-sources="/media/pde/blckboard.pde"></canvas>
</body>
</html>
