<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>The Board</title>
    <link href="/media/css/board.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/media/js/processing-1.3.6.js"></script>
    <script type="text/javascript" src="/media/js/json2.js"></script>
    <script type="text/javascript" src="/media/js/boardconnection.js"></script>
    <script type="text/javascript" src="/media/js/postittool.js"></script>
    <script type="application/javascript">
        var processingInstance;
        var boardConnection;
        var postitTool = new PostitTool({});

        function loadProcessingInstance(){
            var tId=0;
            tId=setInterval(function() {
                processingInstance = Processing.getInstanceById("board");
                if (processingInstance) clearInterval(tId);
            },1);
        }

        function loadBoard(){
            $.get('/{{ board_id }}/postits', function(postits){
                postitTool.addPostits(postits);
            });
            $.get('/{{ board_id }}/lines', function(json){
                $.each(json, function(i, line){
                    processingInstance.addLine(line.x, line.y , line.x1,
                    line.y1, line.color_l, line.stroke_w);
                });
            });
            processingInstance.bindJavaScript(this);
        }

        function savePostitPosition(postitId, x, y){
            $.post('/postit/'+postitId+'/update/', { x:x, y:y });
        }

        function savePostitSize(postitId, width, height){
            $.post('/postit/'+postitId+'/update/', { width:width, height:height });
        }

        function onUpdatePostit(id, x, y, text){
            $.post('/postit/'+id+'/update/', { text:text}, function(){
                boardConnection.updatePostitText(id, text);
            });
        }

        function onNewPostit(x, y){
            var width = 120;
            var height = 120;
            $.post('/{{ board_id }}/postit/new/', { text: "", x:x, y:y, width:width, height:height }, function(json){
                postitTool.createPostit(json["postit_id"], "", x, y, width, height);
                boardConnection.newPostit({{ board_id }} , json["postit_id"], json["x"],json["y"],
                                                           width, height, json["text"]);
            });
        }

        function onNewLine(x, y, x1, y1, color_l, stroke_w){
            $.post('/{{ board_id }}/line/new/', { x: x, y: y, x1:x1, y1:y1, color_l:color_l, stroke_w:stroke_w }, function(json){
                boardConnection.newLine(x, y, x1, y1, color_l, stroke_w);
            });
        }

        function onDeletedPostit(id){
            $.post('/postit/'+id+'/delete/', function(json){
                boardConnection.deletePostit(id);
                postitTool.deletePostit(id);
            });
        }

        function loadBoardConnection(){
            var host = "localhost";
            var port = "8888";
            var uri = "/ws";
            var ws = new WebSocket("ws://" + host + ":" + port + uri);

            boardConnection = new BoardConnection(ws);

            ws.onmessage = function(evt) {
                var message = $.parseJSON(evt.data);
                var message_type = message["type"];
                switch(message_type){
                    case "new":
                        if(message["args"]["obj"]=="postit"){
                            postitTool.createPostit(message["args"]["id"], message["args"]["text"],
                                               message["args"]["x"], message["args"]["y"],
                                               message["args"]["w"], message["args"]["h"]);
                        }else
                            processingInstance.addLine(message["args"]["x"], message["args"]["y"],
                                                       message["args"]["x1"],
                                                       message["args"]["y1"], 
                                                       message["args"]["color_l"],
                                                       message["args"]["stroke_w"]);
                        break;
                    case "update":
                        postitTool.updatePostitText(message["args"]["postit_id"], message["args"]["text"]);
                        break;
                    case "move":
                        postitTool.movePostit(message["args"]["postit_id"], message["args"]["x"],
                                              message["args"]["y"]);
                        break;
                    case "resize":
                        postitTool.resizePostit(message["args"]["id"], message["args"]["w"], message["args"]["h"]);
                        break;
                    case "select":
                        break;
                    case "deselect":
                        break;
                    case "delete":
                        postitTool.deletePostit(message["args"]["id"]);
                        break;
                    default:
                        return false;
                }
            };

            ws.onclose = function(evt) {};

            ws.onopen = function(evt) {
                boardConnection.subscribe({{ board_id }});
            };
        }

        $(document).ready(function() {
            loadProcessingInstance();
            loadBoardConnection();

            $("#pencil_tool").click(function(){
                    $(this).attr({'class':"pencil_tool_enabled"});
                    $("#postit_tool").attr({'class':"postit_tool_disabled"});
                    $("#eraser_tool").attr({'class':"eraser_tool_disabled"});
                    processingInstance.selectPencilTool();
                }
            );

            $("#eraser_tool").click(function(){
                    $(this).attr({'class':"eraser_tool_enabled"});
                    $("#postit_tool").attr({'class':"postit_tool_disabled"});
                    $("#pencil_tool").attr({'class':"pencil_tool_disabled"});
                    //TODO: ACTIVAR HERRAMIENTA DE BORRADOR EN PROCESSING!
                }
            );

            $("#postit_tool").click(
                function(){
                    $(this).attr({'class':"postit_tool_enabled"});
                    $("#pencil_tool").attr({'class':"pencil_tool_disabled"});
                    $("#eraser_tool").attr({'class':"eraser_tool_disabled"});
                    processingInstance.selectPostitTool();
                }
            );

            $("#eraser_tool").click(
                function(){
                    $(this).attr({'class':"eraser_tool_enabled"});
                    $("#pencil_tool").attr({'class':"pencil_tool_disabled"});
                    $("#postit_tool").attr({'class':"postit_tool_disabled"});
                    processingInstance.selectEraserTool();
                }
            );
        });

    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34473709-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div id="toolbar">
        <a id="postit_tool" class="postit_tool_enabled"></a>
        <a id="pencil_tool" class="pencil_tool_disabled"></a>
        <a id="eraser_tool" class="eraser_tool_disabled"></a>
    </div>
    <div id="board">
        <canvas id="board" data-processing-sources="/media/pde/blckboard.pde
        /media/pde/postittool.pde /media/pde/penciltool.pde"></canvas>
    </div>
    <div id="mapale_logo"><a target="_blank" href="http://www.mapalesoftware.com"><img src="/media/mapale_logo.png"/></a></div>
    <!-- uservoice feedback widget-->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/darBV5SSOPc4nv540weXKg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
</body>
</html>
