<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>The Board</title>
    <link href="/media/css/board.css" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/processing-1.3.6.js"></script>
    <script type="text/javascript" src="/media/js/json2.js"></script>
    <script type="text/javascript" src="/media/js/boardconnection.js"></script>
    <script type="application/javascript">
        var processingInstance;
        var boardConnection;

        function loadProcessingInstance(){
            var tId=0;
            tId=setInterval(function() {
                processingInstance = Processing.getInstanceById("board");
                if (processingInstance) clearInterval(tId);
            },1);
        }

        function loadBoard(){
            $.get('/{{ board_id }}/postits', function(json){
                $.each(json, function(i, postit){
                    processingInstance.addPostit(postit.id, postit.text, postit.x , postit.y);
                });
            });
            $.get('/{{ board_id }}/lines', function(json){
                $.each(json, function(i, line){
                    processingInstance.addLine(line.x, line.y , line.x1, line.y1);
                });
            });
            processingInstance.bindJavaScript(this);
        }

        function onPostitMoved(postitId, x, y){
            boardConnection.movePostIt(postitId, x, y);
        }

        function onPostitMovedText(id, x, y){
            $("#postit_input" + id).css('top', (y+20)+"px");
            $("#postit_input" + id).css('left', (x+20)+"px");
        }

        function onPostitReleased(postitId, x, y){
            $.post('/postit/'+postitId+'/update/', { x:x, y:y });
        }

        function onNewPostit(x, y, feed){
            feed = $("#postit_input").val();
            $.post('/{{ board_id }}/postit/new/', { text: feed, x:x, y:y }, function(json){
                $("#postit_input").remove();
                processingInstance.addPostit(json["postit_id"], feed, x, y);
                boardConnection.newPostit({{ board_id }} , json["postit_id"], json["x"],json["y"],json["text"]);
            });
        }

        function onCreatingPostit(x, y){
            createPostitTextInput(x, y);
        }

        function createPostitTextInput(x, y){
            $("\
                <textarea rows='4', cols='15'\
                       id='postit_input'\
                       style='border:none;\
                              background-color: transparent;\
                              position: absolute;\
                              top:"+(y+20)+"px;\
                              left:"+(x+15)+"px;'/ value='write here...'>")
                    .appendTo("#board");
            setTimeout(function() { $("#postit_input").focus().select(); }, 0);
        }

        function onNewLine(x, y, x1, y1){
            $.post('/{{ board_id }}/line/new/', { x: x, y: y, x1:x1, y1:y1 }, function(json){
                boardConnection.newLine(x, y, x1, y1);
            });
        }

        function onPostitSelected(postitId){
            boardConnection.selectPostit(postitId);
        }

        function onPostitDeselected(postitId){
            boardConnection.deselectPostit(postitId);
        }

        function onDeletedPostit(id){
            $.post('/postit/'+id+'/delete/', function(json){
                boardConnection.deletePostit(id);
            });
            processingInstance.deletePostit(id);
        }

        function onDeletedTextPostit(id){
            $("#postit_input" + id).remove();
        }

        function onCreateTextPostit(id, feed, x, y){
            if (id != 9999){
                $("\
                    <textarea rows='4', cols='15'\
                        id='postit_input"+id+"'\
                        style='border:none;\
                            background-color: transparent;\
                            position: absolute;\
                            top:"+(y+20)+"px;\
                            left:"+(x+15)+"px;'>")
                    .appendTo("#board");
                    $("#postit_input" + id).val(feed);
            }
        }


        function loadBoardConnection(){
            var host = "localhost";
            var port = "8888";
            var uri = "/ws";
            var ws = new WebSocket("ws://" + host + ":" + port + uri);

            boardConnection = new BoardConnection(ws);

            ws.onmessage = function(evt) {
                var message = $.parseJSON(evt.data);
                var message_type = message["type"];
                switch(message_type){
                    case "new":
                        if(message["args"]["obj"]=="postit")
                            processingInstance.addPostit(message["args"]["id"], message["args"]["text"],
                                                         message["args"]["x"], message["args"]["y"]);
                        else
                            processingInstance.addLine(message["args"]["x"], message["args"]["y"],
                                                       message["args"]["x1"], message["args"]["y1"]);
                        break;
                    case "move":
                        processingInstance.movePostIt(message["args"]["postit_id"], message["args"]["x"], message["args"]["y"]);
                        break;
                    case "select":
                        processingInstance.friendSelectPostit(message["args"]["id"]);
                        break;
                    case "deselect":
                        processingInstance.friendDeselectPostit(message["args"]["id"]);
                        break;
                    case "delete":
                        processingInstance.deletePostit(message["args"]["id"]);
                        break;
                    default:
                        return false;
                }
            };

            ws.onclose = function(evt) {};

            ws.onopen = function(evt) {
                boardConnection.subscribe({{ board_id }});
            };
        }

        $(document).ready(function() {
            loadProcessingInstance();
            loadBoardConnection();

            $("#pencil_tool").click(function(){
                    $(this).attr({'class':"pencil_tool_enabled"});
                    $("#postit_tool").attr({'class':"postit_tool_disabled"});
                    processingInstance.selectPencilTool();
                }
            );

            $("#postit_tool").click(
                function(){
                    $(this).attr({'class':"postit_tool_enabled"});
                    $("#pencil_tool").attr({'class':"pencil_tool_disabled"});
                    processingInstance.selectPostitTool();
                }
            );
        });

    </script>
</head>
<body>
    <div id="toolbar">
        <a id="postit_tool" class="postit_tool_enabled"></a>
        <a id="pencil_tool" class="pencil_tool_disabled"></a>
    </div>
    <div id="board">
        <canvas id="board" data-processing-sources="/media/pde/blckboard.pde /media/pde/postit.pde
        /media/pde/postittool.pde /media/pde/penciltool.pde"></canvas>
    </div>
    <!-- uservoice feedback widget-->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/darBV5SSOPc4nv540weXKg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
</body>
</html>
