<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link href="/static/css/home.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <title></title>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#go-button").click(function(evt){
                evt.preventDefault();
                board_id = $("#board-id").val();
                document.location.href="/"+board_id;
            });
            $("#new-board").draggable();
            $("#existing-board").draggable();
            $("#board-id").focus(function(){
                $(this).val("");
            });

            $("#subscribe-submit").click(function(evt){
                evt.preventDefault();
                var email = $("#email-input").val();
                $.post("/subscribe",{"email":email}, function(data){
                    if(data.result=="Subscribed!")
                        $("#message").css("color","green");
                    else
                        $("#message").css("color","red");
                    $("#message").text(data.result);
                    $("#email-input").val("");
                });
            })
        });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34473709-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div id="logo">
        <img src="/static/images/logo_big.png"/>
    </div>
    <div id="slogan"><h1>Collaborative Real-time Project Management Whiteboard</h1></div>
    <div id="promo_video">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/u72xKux11B0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="options">
        <a href="/new">
            <div class="note">
                <div id="new-boardino">Create a new boardino!</div>
            </div>
        </a>
        <div class="note">
            <div id="existing-boardino">
                Go to existing boardino
                <div id="board-form">
                        <label style="float:left; font-size: 22px;" for="board-id">boardino.com/</label>
                        <input type="text" id="board-id" name="board_id" />
                        <div id="go-button-div"><a id="go-button" href="#"><img class="go-button-img" src="/static/images/go.png" alt="Go!"></a></div>
                </div>
            </div>
        </div>
        <div class="green-note">
            <div id="subscribe">
                Subscribe to be updated of new features!
                <form id="email-form">
                    <label style="font-size: 18px;" for="email-input">Email:</label>
                    <input type="text" name="email-input" id="email-input"/>
                    <div id="subscribe-button-div"><input id="subscribe-submit" type="submit" value="subscribe"/></div>
                    <div id="message" style="font-size: 9px; color:green;"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>