#toolbar{
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 1000;
}

#board{
    position:absolute;
    top:0;
    left: 0;
    width: 3000px;
    height: 1500px;
}

.postit{
    position: absolute;
    background-color: #FFFF33;
    padding: 2px 2px 25px 2px;
}

.postit_close_image{
    position: relative;
    float:right;
    top:0px;
    right:0px;
}

.postit_color_image{
    position: relative;
    float:left;
    top:0px;
    left:0px;
}

.postit_color_tool{
    border: 1px black solid;
    position: absolute;
    background-color: #FFFFFF;
    top:-10px;
    left:-10px;
    width: 40px;
    height: 40px;
}

.postit_color{
    display: block;
    width: 20px;
    height: 20px;
}

.postit_input {
    -moz-box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border:none;
    resize: none;
    display:block;
    background-color: #FFFF99;
    position: relative;
    padding:0px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.postit_tool_enabled{
    background-image: url('/static/images/postit_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.postit_tool_disabled{
    background-image: url('/static/images/postit_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_tool_enabled{
    background-image: url('/static/images/pencil_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_tool_disabled{
    background-image: url('/static/images/pencil_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_red_tool_enabled{
    background-image: url('/static/images/pencil_red_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_red_tool_disabled{
    background-image: url('/static/images/pencil_red_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_blue_tool_enabled{
    background-image: url('/static/images/pencil_blue_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_blue_tool_disabled{
    background-image: url('/static/images/pencil_blue_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_green_tool_enabled{
    background-image: url('/static/images/pencil_green_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.pencil_green_tool_disabled{
    background-image: url('/static/images/pencil_green_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

.eraser_tool_enabled{
    background-image: url('/static/images/eraser_enabled.png');
    display: block;
    height: 50px;
    width: 50px;
}
.eraser_tool_disabled{
    background-image: url('/static/images/eraser_disabled.png');
    display: block;
    height: 50px;
    width: 50px;
}

 #mapale_logo{
position: fixed;
bottom:0;
right:0;
}
