/* line 1, ../scss/board.scss */
#toolbar {
  position: fixed;
  left: 5px;
  top: 5px;
  width: 50px;
  z-index: 1000;
}

/* line 8, ../scss/board.scss */
#board {
  position: absolute;
  top: 0;
  left: 0;
  width: 3000px;
  height: 1500px;
}

/* line 15, ../scss/board.scss */
.postit {
  cursor: pointer;
  position: absolute;
  background-color: #FFFF33;
  padding: 2px 2px 25px 2px;
  -moz-box-shadow: 5px 5px 4px 2px #cccccc;
  -webkit-box-shadow: 5px 5px 4px 2px #cccccc;
  box-shadow: 5px 5px 4px 2px #cccccc;
}

/* line 24, ../scss/board.scss */
.postit_close_image {
  display: none;
  position: relative;
  float: right;
  top: 0px;
  right: 0px;
}

/* line 31, ../scss/board.scss */
.postit_color_image {
  display: none;
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
}

/* line 38, ../scss/board.scss */
.postit_color_tool {
  cursor: pointer;
  border: 1px black solid;
  position: absolute;
  background-color: #FFFFFF;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
}

/* line 48, ../scss/board.scss */
.postit_color {
  display: block;
  width: 20px;
  height: 20px;
}

/* line 53, ../scss/board.scss */
.postit_input {
  -moz-box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  resize: none;
  display: block;
  background-color: #FFFF33;
  position: relative;
  padding: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* line 68, ../scss/board.scss */
.postit_tool_enabled {
  cursor: pointer;
  background-image: url("/static/images/postit_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 75, ../scss/board.scss */
.postit_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/postit_disabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 82, ../scss/board.scss */
.pencil_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_disabled.png");
  display: block;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 90, ../scss/board.scss */
.pencil_black_tool_enabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 98, ../scss/board.scss */
.pencil_black_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_disabled.png");
  display: none;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 106, ../scss/board.scss */
.pencil_red_tool_enabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_red_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 114, ../scss/board.scss */
.pencil_red_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_red_disabled.png");
  display: none;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 122, ../scss/board.scss */
.pencil_blue_tool_enabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_blue_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 130, ../scss/board.scss */
.pencil_blue_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_blue_disabled.png");
  display: none;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 138, ../scss/board.scss */
.pencil_green_tool_enabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_green_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 146, ../scss/board.scss */
.pencil_green_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/pencil_green_disabled.png");
  display: none;
  height: 50px;
  width: 50px;
  float: left;
}

/* line 154, ../scss/board.scss */
.eraser_tool_enabled {
  background-image: url("/static/images/eraser_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 160, ../scss/board.scss */
.eraser_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/eraser_disabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 167, ../scss/board.scss */
.rectline_tool_enabled {
  background-image: url("/static/images/rectline_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 173, ../scss/board.scss */
.rectline_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/rectline_disabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 180, ../scss/board.scss */
.clear_lines_tool_enabled {
  cursor: pointer;
  background-image: url("/static/images/clear_lines_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 187, ../scss/board.scss */
.clear_lines_tool_disabled {
  cursor: pointer;
  background-image: url("/static/images/clear_lines_enabled.png");
  display: block;
  height: 50px;
  width: 50px;
}

/* line 194, ../scss/board.scss */
#mapale_logo {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 199, ../scss/board.scss */
#boardino_logo {
  position: fixed;
  top: 5px;
  right: 5px;
}

/* line 204, ../scss/board.scss */
#notifications {
  max-width: 300px;
  position: fixed;
  top: 100px;
  right: 0px;
  color: white;
  z-index: 10000;
}

/* line 212, ../scss/board.scss */
#connected_users {
  position: relative;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  background-color: green;
  color: white;
}

/* line 221, ../scss/board.scss */
.user_connected {
  white-space: nowrap;
  display: none;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #adff2f;
  color: black;
}

/* line 230, ../scss/board.scss */
.user_disconnected {
  white-space: nowrap;
  display: none;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: red;
  color: white;
}
