body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#slogan{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#options{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.note{
    display: table;
    float: left;
    background-image: url('/static/images/postit_note.png');
    background-repeat: no-repeat;
    width: 245px;
    height: 240px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.green-note{
    display: table;
    float: left;
    background-image: url('/static/images/postit_note_green.png');
    background-repeat: no-repeat;
    width: 245px;
    height: 240px;
    text-align: center;
    color: black;
    font-size: 30px;
}

#new-boardino{
    margin-top: 70px;
    clear:both;
    position:relative;
}

#existing-boardino{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 185px;
    position:relative;
    clear:both;
    height:160px;
}

#subscribe{
    margin-top: 30px;
    clear:both;
    position:relative;
}

#existing-boardino-floater{
    float:left;
    height:50%;
    margin-bottom:-80px;
}

#board-form{
    font-family: Arial,serif;
    position: relative;
    margin-top: 20px;
}

#email-form{
    font-family: Arial,serif;
    position: relative;
    margin-top: 20px;
}

#board-id{
    text-align: center;
    float:left;
    position: relative;
    top:0px;
    font-size: 22px;
    width: 40px;
    border: 1px solid #d2691e;
    background: #ffc;
    margin-top: 0;
    padding-top: 0;
}

#email-input{

}

#go-button-div{
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

.go-button-img{
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 40px;
}

#promo_video {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    text-align:center
}